@model Task1.Models.Osoba

<h4>Szukaj osoby</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label class="control-label">Czego szukasz?</label>
                <select for="ItemType" name="ItemType">
                    <option value="1">Nazwiska</option>
                    <option value="2">Daty Produkcji</option>
                </select>
            </div>
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

