@model Task1.Models.Osoba

<h4>Szukaj osoby</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchLastName" class="control-label">Nazwisko</label>
                <input name="SearchLastName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchDateFrom" class="control-label">Data od:</label>
                <input name="SearchDateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SearchDateTo" class="control-label">Data do</label>
                <input name="SearchDateTo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}