@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Dowiedz się więcej o <a href="https://docs.microsoft.com/aspnet/core">tworzeniu aplikacji Webowych z ASP.NET Core</a>.</p>
</div>
