@model Task1.Models.Samochod

<h4>Usuwanie nie powiodło się</h4>
<hr />

<div class="form-group">
    <label>Nie można usunąć samochodu, ponieważ jest on używany przez co najmniej jedną osobę. 
    Proszę, najpierw usuń użytkowników samochodu lub zmień ich samochód na inny.</label>
</div>


<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

