@model Task1.Models.Samochod

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Czy jesteś pewien, że chcesz usunąć ten samochód?</h3>
<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Pojemność")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pojemnosc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Cena")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SamochodId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
